<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin: All Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style type="text/css">
    .bs-example{
        margin: 20px;
    }
</style>
</head>
<body>
    <div class="bs-example">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>Delivery Executive ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Salary</th>
                    <th>Phone Number</th>
                    <th>Alternate Phone Number</th>
                    <th>Work Time</th>
                </tr>
            </thead>
            <tbody>
                {% for row in delivery_executive_details %}
                <tr>
                    {% for detail in row %}
                    <td>
                        {{ detail }}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <p class="text-center"><a href="AdminActions" style="color:darkblue;">Back</a></p>
</body>
</html>
